<h1><%=@pirate.name%><br><%=@pirate.weight%><br><%=@pirate.height%></h1>


<h2><%=@first_ship.name%><br><%=@first_ship.type%><br><%=@first_ship.booty%></h2>


<h2><%=@second_ship.name%><br><%=@second_ship.type%><br><%=@second_ship.booty%></h2>
